*
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333447;
	line-height: 1.5;
}

html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-size: 100%;
}

a
{
	text-decoration: none;
}

h1
{
	font-size: 100%;
	color: #FF69B4;
}

h2
{
	font-size: 80%;
	color: #FF69B4;
}

hr
{
	color: #FF69B4;
}

p
{
	margin: 0;
}

label
{
	display:inline-block;
	width:10%;
	line-height: 2;
	margin-right: 1%;
}

select
{
	display:inline-block;
	width:15%;
}

input
{
	width: 15%;
}

table, th, td
{
	border: 1px solid #FF69B4;
}

.container
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.row
{
	position: relative;
	width: 100%;
}

.row [class^="col"]
{
	float: left;
	margin: 0.5rem 2%;
	min-height: 0.125rem;
}

.col-1
{
	width: 4.33%;
}

.col-2
{
	width: 12.66%;
}

.col-3
{
	width: 21%;
}

.col-4
{
	width: 29.33%;
}

.col-5
{
	width: 37.66%;
}

.col-6
{
	width: 46%;
}

.col-7
{
	width: 54.33%;
}

.col-8
{
	width: 62.66%;
}

.col-9
{
	width: 71%;
}

.col-10
{
	width: 79.33%;
}

.col-11
{
	width: 87.66%;
}

.col-12
{
	width: 96%;
}

@media only screen and (max-width: 64em)
{
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12
	{
		width: 46%;
	}
	img.large
	{
		width: 16em;
		height: 24em;
	}
}

.row::after
{
	content: "";
	display: table;
	clear: both;
}

.left
{
	text-align: left;
}

.right
{
	text-align: right;
}

.center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.justify
{
	text-align: justify;
}

a.title
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 300%;
	font-weight:bold;
	color: #167DB7;
	margin: 1%;
	text-decoration: none;
}

div.title
{
	transition:all 0.2s ease
}

div.title:hover
{
	transform:scale(1.1);
}

button.menu
{
	background-color: #333333;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	margin: 4px 2px;
}

button.menu:hover
{
	background-color: #111111;
}

button.productsmall
{
	background-color: #167DB7;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	margin: 12px 6px;
	margin-left: 1%;
	margin-right: 1%;
}

button.productsmall:hover
{
	background-color: #0F5377;
}

button.productlarge
{
	background-color: #167DB7;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	margin: 4px 2px;
}

button.productlarge:hover
{
	background-color: #0F5377;
}

button.little
{
	background-color: #167DB7;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

button.form
{
	background-color: #167DB7;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

button.form:hover
{
	background-color: #0F5377;
}

button.add
{
	background-color: #167DB7;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	margin-top: 16px;
}

button.add:hover
{
	background-color: #0F5377;
}

button.fill
{
	background-color: #167DB7;
	border: none;
	color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

button.fill:hover
{
	background-color: #0F5377;
}

a.blue
{
	color: #167DB7;
}

.product
{
	background-color: white; 
	color: black; 
	border: 2px solid #FF69B4;
}

h1.admin
{
	color: white;
}

button.admin
{
	margin-top: 1%;
}

.search
{
	cursor: pointer;
}